@font-face {
  font-family: myFirstFont;
  src: url("./assets/NerkoOne-Regular.ttf");
}

body {
  height: 100vh;
}

.App {
  text-align: center;
  background-image: url("./assets/bg_home.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
  font-family: myFirstFont;
  color: #223c29;
}

a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

.logoDiv {
  position: absolute;
  top: 2%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  padding: 0;
}

.logo {
  width: 60%;
}

.actionFrame {
  /* Bg image dimensions: 900px * 630px */
  position : fixed;
  background-image: url("./assets/action_frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  margin: auto;
  padding: 0;
  font-size: 5vh;
  display: flex;
  padding-top: 10vh;
  padding-bottom: 10vh;
}


@media only screen and (orientation:portrait){
  .actionFrame {
    top : 15%;
    left : 5%;
    width: 90%;
    height: 70%;
  }
  
  .addressButton {
    font-size: 0.6rem;
    height: 1.7rem;
  }
}
@media only screen and (orientation:landscape){
  .actionFrame {
    top : 25%;
    left : 25%;
    width: 50%;
    height: 70%;
  }
  
  .addressButton {
    height: 2rem;
    font-size: 0.8rem;
  }
}


::-webkit-scrollbar {
  display: none;
}

.mintbutton {
  width: 12rem;
  margin: auto;
  background-color: #fc6666;
  border-radius: 0.5rem;
  height: 3rem;
  font-size: 1.4rem;
  border-color:#fc6666;
  margin-bottom: 2vh;
}

.mintbutton:hover, .mintbutton:active, .mintbutton:focus {
  background-color: #fc6666;
  border-color:#fc6666;
}

.addressButton {
  margin: auto;
  width: 25rem;
  background-color: #ff8c44;
  border-radius: 0.5rem;
  border-color:#ff8c44;
}

.addressButton:hover, .addressButton:active, .addressButton:focus {
  background-color: #ff8c44;
  border-color:#ff8c44;
}