@font-face {
  font-family: myFirstFont;
  src: url("./assets/NerkoOne-Regular.ttf");
}

body {
  height: 100vh;
  font-family: myFirstFont;
  color: #223c29;
  text-align: center;
}

.Home, .Farm {
  background-image: url("./assets/bg_home.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
}

.Farm {
  background-image: url("./assets/bg_farm.png");
}

a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

.logoDiv {
  position: absolute;
  top: 2%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  padding: 0;
}

.logo {
  width: 60%;
}

.actionFrame {
  /* Bg image dimensions: 900px * 630px */
  position : fixed;
  background-image: url("./assets/action_frame.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center; 
  margin: auto;
  padding: 0;
  font-size: 5vh;
  display: flex;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.actionButton, .shortButton {
  /* Button image dimensions: 309px * 155px */
  background-image: url("./assets/button.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center; 
  width: 12rem;
  height: 6rem;

  margin: auto;
  margin-bottom: 2vh;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.shortButton {
  /* Button image dimensions: 309px * 155px */
  background-image: url("./assets/button_short.png");
  height: 9rem;
}

.actionButton:hover, .shortButton:hover {
  cursor: pointer;
}

.leftArrowImage {
  height: 30%;
}

@media only screen and (orientation:portrait){
  .actionFrame {
    top : 15%;
    left : 5%;
    width: 90%;
    height: 70%;
  }
  
  .addressButton {
    font-size: 0.6rem;
    height: 1.7rem;
  }
}
@media only screen and (orientation:landscape){
  .actionFrame {
    top : 25%;
    left : 25%;
    width: 50%;
    height: 70%;
  }
  
  .addressButton {
    height: 2rem;
    font-size: 0.8rem;
  }
}


::-webkit-scrollbar {
  display: none;
}

.addressButton {
  margin: auto;
  width: 25rem;
  background-color: #ff8c44;
  border-radius: 0.5rem;
  border-color:#ff8c44;
}

.addressButton:hover, .addressButton:active, .addressButton:focus {
  background-color: #ff8c44;
  border-color:#ff8c44;
}